<%- include('../partials/_header.ejs') %>



<div class="container">
    <h1>Compte admin de <%= email %></h1>

    <div class="cadre-upload">
        <form action="/admin/upload" method="post" enctype="multipart/form-data" >
            <div>
                <label for="titre">Titre</label>
                <input type="text" name="titre" id="titre">
            </div>
            
            <label for="uPhoto">Envoyer votre photo</label>
            <input type="file" name="maPhoto" id="uPhoto">
    
            <button type="submit">Envoyer</button>
        </form>
    </div>
</div>

<%- include('../partials/_footer.ejs') %>