<%- include('../partials/_header.ejs') %>



<div class="container">
    <h1>Compte de <%= email %></h1>

    <div class="les-images">
        <% for(let obj of lesImages)  { %>
            <div>
            
                <a href=""><img src="/<%=obj.nom_fichier%>" alt="photo"></a>
                <!--ce n'était pas obj.nomFichier mais obj.nom_fichier comme dans la db-->
            </div>
        <% } %>
    </div>
</div>

<%- include('../partials/_footer.ejs') %>