<%- include('../partials/_header.ejs') %>

<div class="container">
    <h1>Créer un compte</h1>
 
    <form method="post" action="/home/creer-compte">
        <div>
            <label for="pseudo">Pseudo</label>
            <input type="text" name="pseudo" id="pseudo">
        </div>
        <div>
            <label for="email">Email</label>
            <input type="email" name="email" id="email">
        </div>
        <div>
            <label for="pwd">Mot de passe</label>
            <input type="password" name="pwd" id="pwd">
        </div>
        <div>
            <button type="submit">créer compte</button>
        </div>
    </form>
</div>

<%- include('../partials/_footer.ejs') %>