<%- include('../partials/_header.ejs') %>

<!--je n'ai pas mis <h1>index</h1> pour tester et cru que celà ne marchait pas en voyant la page vide-->

<div class="container">
    <ul>
        <li><a href="/home/se-connecter">se connecter</a></li>
        <li><a href="/home/creer-compte">créer un compte</a></li>
    </ul>
</div>

<%- include('../partials/_footer.ejs') %>