<%- include('../partials/_header.ejs') %>

<div class="container">
    <h1>Connection</h1>
 
    <form method="post" action="/home/se-connecter">
        <div>
            <label for="email">Email</label>
            <input type="email" name="email" id="email">
        </div>
        <div>
            <label for="pwd">Mot de passe</label>
            <input type="password" name="pwd" id="pwd">
        </div>
        <div>
            <button type="submit">Se connecter</button>
        </div>
    </form>
</div>

<%- include('../partials/_footer.ejs') %>